/.gradle/
/.idea/
/base-consumer/src/node_modules/
/base-processor/src/node_modules/
/consumer/etc/settings.json
/consumer/src/node_modules/
/converter/.gradle/
/converter/bin/
/converter/build/
/converter/src/main/resources/etc/settings.json
/exporter/etc/settings.conf
/iac/.credentials
/iac/.kubeconfig
/iac/.terraform*
/iac/settings.json
/iac/terraform.tfstate*
/ingress/etc/nginx/http.d/settings.conf
/ingress/etc/ssl/certs/cert.crt
/ingress/etc/ssl/private/cert.key
/ingress/htdocs/settings.js
/kafka-broker/etc/settings.conf
/oauth2-proxy/etc/settings.conf
/processor-kafka/etc/settings.json
/processor-kafka/src/node_modules/
/scheduler/etc/settings.conf
/scheduler/etc/settings.json